.mainsection{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items:center;
}
.contentBox{
    width:40%;
    /* background-color: blueviolet; */
    padding-left: 1em;
}
.contentBox h1{
    font-size: 2.5rem;
    color:#301934;
    text-align: center;
}
.contentBox p{
    font-size: 1.2rem;
    margin:1em 0;
    font-family: "Nunito", sans-serif;
}
.btnBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.btn{
    border: 2px solid transparent;
    border-radius: 10em;
    background-image: linear-gradient(#fff,#fff),radial-gradient(circle at bottom right, pink,purple);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.readmore{
    display: inline-block;
    font-size: 1rem;
    padding: .5em;
    color: #301934;
    text-decoration: none;
}
.img{
    width: 50%
}
.img img{
    width:90%;
    margin: 0 auto;
    display: block;
    /* background-color: yellowgreen; */
}
 @media screen and (max-width:900px){
    html{
        font-size: 14px;
    }
 }
 @media screen and (max-width: 768px){
    html{
        font-size: 14px;
    }
    .mainsection{
    flex-direction: column;
    margin-top: 1em;
 }
 .contentBox{
    width: 90%;
    margin: 0 auto;
 }
 .contentBox h1{
    font-size: 2rem;
    /* color:#301934; */
 }
 .contentBox p{
    font-size: 1.1rem;
    /* margin:1em 0;
    font-family: "Nunito", sans-serif; */
}
.img{
    width: 80%
}
}
@media screen and (max-width: 400px){
   .img{
    width: 60%
   }
}